<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sorteio Atual - Sorteios</title>
</head>
<body>
    <h2>Participantes</h2>

    <table border="1">
        <thead>
            <tr>
                <td><strong>Nome</strong></td>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(data){ %>

                <tr>
                    <td><%= data.name %></td>
                </tr>

            <% }) %>
        </tbody>
    </table>
    <button><a href="/sorteio">Realizar sorteio</a></button>
    <button><a href="/adicionar">Adicionar mais participantes</a></button>
    <button><a href="/">Voltar</a></button>
</body>
</html>