<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Novo Sorteio - Sorteios</title>
</head>
<body>
    <h2>Crie seu sorteio</h2>

    <form action="/novo" method="POST">
        <label for="name">Nome completo:</label>
        <input type="text" name="name" placeholder="Participante" required>

        <button type="submit">Cadastrar</button>
    </form>

    <button><a href="/">Voltar</a></button>
    <button><a href="/atual">Sorteio Atual</a></button>
</body>
</html>